@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
.bee-switch{
	position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 44px;
    height: 22px;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #ccc;
    cursor: pointer;
    outline:0;
    -webkit-transition: all .3s cubic-bezier(.78,.14,.15,.86);
    transition: all .3s cubic-bezier(.78,.14,.15,.86);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:active:after {
	    width: 20px;
	}
    &:after{
    	position: absolute;
	    width: 18px;
	    height: 18px;
	    top: 1px;
	    left:2px;
	    border-radius: 18px;
	    background-color: #fff;
	    content: " ";
	    cursor: pointer;
	    -webkit-transition: left .3s cubic-bezier(.78,.14,.15,.86),width .3s cubic-bezier(.78,.14,.15,.86);
	    transition: left .3s cubic-bezier(.78,.14,.15,.86),width .3s cubic-bezier(.78,.14,.15,.86);
    }
    &-small {
	 	@extend .bee-switch;
	    height: 14px;
	    line-height: 12px;
	    width: 28px;
	    &:after {
	      width: 12px;
	      height: 12px;
	      top: 0;
	      left: 0;
	    }
	    &:active:after {
	      width: 16px;
	    }
	 }  
}

.bee-switch-inner {
	color: #fff;
    font-size: 12px;
    position: absolute;
    left: 22px;
}
.bee-switch-small-inner {
	color: #fff;
    font-size: 12px;
    position: absolute;
    left: 12px;
}
.changePostion {
	left: 6px!important;
	&-small {
		left: 2px!important;
	}
}
.bee-switch-checked{
	border-color: #2db7f5;
    background-color: #2db7f5;
    &:after {
    	left:22px;
    }
    &-small {
    	@extend .bee-switch-checked;
	    &:after{
	    	left:12px;
	    }
	}
}
