@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
.u-switch{
	position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 44px;
    height: 22px;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #ccc;
    cursor: pointer;
    outline:0;
    -webkit-transition: all .3s cubic-bezier(.78,.14,.15,.86);
    transition: all .3s cubic-bezier(.78,.14,.15,.86);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .u-switch-inner {
		color: #fff;
	    font-size: 12px;
	    position: absolute;
	    left: 22px;
	}
    &:active:after {
	    width: 24px;
	}
    &:after{
    	position: absolute;
	    width: 18px;
	    height: 18px;
	    top: 1px;
	    left:0px;
	    border-radius: 18px;
	    background-color: #fff;
	    content: " ";
	    cursor: pointer;
	    -webkit-transition: left .3s cubic-bezier(.78,.14,.15,.86),width .3s cubic-bezier(.78,.14,.15,.86);
	    transition: left .3s cubic-bezier(.78,.14,.15,.86),width .3s cubic-bezier(.78,.14,.15,.86);
    }
    &.is-checked{
		border-color: #2db7f5;
	    background-color: #2db7f5;
	    .u-switch-inner {
		    left: 8px;
		}
	    &:after {
	    	left:24px;
	    }
	    &:active:after {
	      left: 16px;
	    }
	}

}

.u-switch.u-switch-sm{
	height: 16px;
    line-height: 12px;
    width: 32px;
    &.is-checked {
    	&:after{
    		left:16px;
    	}
    	&:active:after {
		    left: 10px;
		}
    	.u-switch-inner {
    		left:4px;
    	}
    }
    .u-switch-inner {
		color: #fff;
	    font-size: 10px;
	    position: absolute;
	    left: 16px;
	}
    &:after {
      width: 14px;
      height: 14px;
      top: 0;
      left: 0;
    }
    &:active:after {
      width: 16px;
    }
}
.u-switch.u-switch-lg{
	height: 30px;
    line-height: 12px;
    width: 60px;
    &.is-checked {
    	&:after{
    		left:32px;
    	}
		&:active:after {
		    left: 26px;
		}
    	.u-switch-inner {
    		left:8px;
    	}
    }
    .u-switch-inner {
		color: #fff;
	    font-size: 18px;
	    position: absolute;
	    left: 30px;
	    top:8px;
	}
    &:after {
      width: 26px;
      height: 26px;
      top: 1px;
      left: 0;
    }
    &:active:after {
      width: 32px;
    }
}

.u-switch-primary.is-checked{
	@include switch-styles-variant($switch-primary-bg);
}
.u-switch-info.is-checked{
	@include switch-styles-variant($switch-info-bg);
}
.is-checked.u-switch-danger{
	@include switch-styles-variant($switch-danger-bg);
}
.u-switch-warning.is-checked{
	@include switch-styles-variant($switch-warning-bg);
}
.u-switch-dark.is-checked{
	@include switch-styles-variant($switch-dark-bg);
}
.u-switch-success.is-checked{
	@include switch-styles-variant($switch-success-bg);
}
